.banner-form .jumboBg {
  background-color:rgba(0, 0, 0, 0.63);
  color:#fff;
}

.apply {
  color: $dark-font;
  background-color: #fff;
  padding-bottom: 5em;

  label {
    font-weight: 300;
  }

  #itemTitle {
  	color: $gold;
    font-weight: 600;
    text-transform: uppercase;
  }

  .blockquote {
    border-left : 5px $gold solid;
    padding-left: 20px;
    margin-left: 20px;

    h2 {
      font-weight: 300;
    }

  }

  .gross {
    font-size: 1.2em;
    margin-top: 1em;
  }

  .gold-link {
    color : $gold;
    text-decoration: underline;
    font-size: 0.8em;
  }

  .form-control:focus{
    border-color : $gold;
  }
  .subTitle {
  	font-weight: 700;
  	font-size: 16px;
  	text-transform: uppercase;
    margin: 0;
  }

  .section-title {
    color: $gold;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 40px 0 20px;

    .fa {
      font-size: 0.8em;
    }

  }

  .form-section {
    padding-left: 1.5rem;

      // below-md
      @media (max-width: 720px) {
          padding-left: 0;
      }
  }

  .question-item {
    padding: 1.3em 0 0;

    & > label {
      font-weight: 600;
    }
  }

  input.form-control {
    border: 1px $gray solid;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    &:focus {
      border: 2px solid $gold;
    }

    &::placeholder {
      color: $gray-placeholder;
      font-weight: 300;
    }
  }

  input.form-others {
    border: solid $gray;
    border-width: 0 0 1px 0;
    border-radius: 0;

    &:focus {
      border-width: 0 0 1px 0;
      border-bottom: 2px solid $gold;
    }
  }


  .custom-control-input:checked~.custom-control-indicator {
      color: #fff;
      background-color: $gold;
  }

  .custom-control-description {
    margin: 0 15px 0 10px;
  }


}
