
.btn-main {
	background-color: #f6aa00;
	color: #fff;
}
.btn-main:hover {
	color: #fff;
}
.btn-main-inverse {
	border: 1px solid #f6aa00;
	color: #f6aa00;
}
.btn-gray {
	background-color: #878787;
	color: #fff;
}
