#dev-nav{
  top : 50%;
  width: 120px;
  position: fixed;
  z-index: 99999;
  background-color: #fff;
  padding-left: 10px;
  @extend .shadow;

  ul {
    padding-left: 10px;
    list-style-type: none;
    
    li {
      margin: 5px 0;

      a{
        color : #333;
        padding: 10px 0;

        &:hover, &:focus {
          color : $primary-color;
          text-decoration: none;
        }
      }
    }
  }
}
