#dev-nav{
  top : 50%;
  width: 120px;
  position: fixed;
  z-index: 99999;
  background-color: #fff;
  padding-left: 10px;
  
  ul {
    padding-left: 10px;
    list-style-type: none;
    li {
      a{

      }
    }
  }
}
