h1,
h2 {
    font-weight: 300;
}

nav.navbar {
  background-color: $secondary-color;
  color : white;
  border-radius: 0;

  .navbar-header, .nav {
    padding: 8px 0;
  }

  .navbar-brand {
    width : 200px;
  }

  ul {
    li {
      a {
        color : white;
        letter-spacing: 1.5px;
        padding: 0 10px;
        font-size: 15px;

        &:hover, &:focus{
          color : $primary-color;
          background-color: transparent;
          text-decoration: none;
        }
      }
    }
  }
}
