
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$primary-color : #fe9d01 ;
$secondary-color : #2b333e;
$tertiary-color : #999;
$gold : #F5A623;
$gold-lighten : #FEDFAC;
$gold-darken : #BF7700;
$gray: #C3C3C3;
$gray-placeholder: #BEBEBE;
$gray-darker: #4A4A4A;
$gray-lighten: #e0e0e0;

$white-bg : #ffffff;
$dark-bg : #F0F0F0;
$heading-color : #333;

$dark-font : #292b2c;

$medium: '768px';

$linear-gradient : linear-gradient(264deg, #000, rgba(0, 0, 0, .33) 62%);
